.container {
    height: 138px;
    font-family: 'Pretendard';
    border-bottom: 1px solid #848484;;
}

.userInformation{
    display: grid;
    grid-template-columns: 40px 100px 200px;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.userCount{
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.userInformation > img{
    width: 30px;
    height: 30px;
    object-fit: cover;
}


.userId {
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
}

.job {
    font-weight: 400;
    font-size: 13px;
    line-height: 18px;
    color: #848484;
}

.postingCount, .followerCount, .followingCount {
    text-align: center;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
}

.postingText, .followerText, .follwingText {
    font-weight: 400;
    font-size: 14px;
    line-height: 12px;
    color: #848484;
}

.buttons {
    height: 30px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-weight: 400;
    font-size: 13px;
    line-height: 24px;
    padding: 10px;
}

.followBtn {
    width: 162px;
    height: 100%;
    background: #D9D9D9;
    border: 3px solid #D9D9D9;
    display: flex;
    justify-content: center;
    align-items: center;
}

.followBtn > input{
    background: none;
    border: none;
    line-height: 30px;
    text-align: center;
    display: flex;
    font-weight: 400;
    font-size: 13px;
    font-family: 'Pretendard';    
}

.followClicked{
    width: 162px;
    height: 100%;
    background: black;
    color: white;
    border: 3px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.followClicked > input {
    background: none;
    border: none;
    line-height: 30px;
    display: flex;
    font-weight: 400;
    font-size: 13px;
    font-family: 'Pretendard';
    color: white;
    line-height: 30px;
    text-align: center;
}


.message {
    width: 162px;
    height: 100%;
    background: #D9D9D9;
    border: 3px solid #D9D9D9;
    font-weight: 400;
    font-size: 13px;
    font-family: 'Pretendard';
    line-height: 30px;
    text-align: center;
}