.cardBody {
    padding: 10px 28px;
}

.itemList {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.item {
    position: relative;
    width: 48%;
    margin-bottom: 20px;
}

.image {
    width: 100%;
}

.infoBox {
    display: grid;
    grid-template-columns: 80% 20%;
    align-items: center;
    justify-content: center;
    justify-items: center;
    position: absolute;
    bottom: 0px;
    padding: 10px;
    background: rgba(255, 255, 255, 0.6);
    font-family: 'Pretendard';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    }