.body {
    padding: 20px;
}

.contentsList {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.contentsItem {
    width: 170px;
}

.image {
    width: 100%;

}

.titleBox{
    display: grid;
    grid-template-columns: 130px 40px;
    align-items: center;
    justify-content: center;
    justify-items: center;
    margin: 5px 10px 20px 15px;
}

.title {
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    font-family: 'Pretendard';
}
