.body {
    padding: 28px;
}

.contentsList {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
}

.contentsItem {
    width: 48%;
}

.image {
    width: 100%;

}

.titleBox{
    display: grid;
    grid-template-columns: 80% 20%;
    align-items: center;
    justify-content: center;
    justify-items: center;
    margin: 5px 0px 20px 0px;
}

.title {
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    font-family: 'Pretendard';
    margin-right: 10px;
}
