.container{
    padding: 28px;
}

.explanation{
    font-family: 'Pretendard';
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    width: 60%;
    padding: 20px 0px;
}

.categories{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    flex-wrap: wrap;
}

/* 버튼 */

.btnSection{
    display: flex;
    justify-content: center;
    align-items: center;

}

.nextBtn{
    position: fixed;
    bottom: 80px;
    width: 80%;
    border: none;
    text-decoration: none;
    text-align: center;
    font-family: 'Pretendard';
    font-weight: 400;
    font-size: 16px;
    margin: 5px 0px 5px 0px;
    background-color: black;
    color: white;
    padding: 9px 0px;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.3);
}